
.full-container[data-v-6febb0e8] {
  display: block;
  margin-bottom: 2em;
}
.full-container[data-v-6febb0e8]::after {
  display: block;
  content: '';
  clear: both;
}
























































































/* ====== TABLE STYLE ====== */
.table[data-v-42e973f3] {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 100%;
}
.table .header-wrap[data-v-42e973f3] { display: table-header-group;
}
.table .row-wrap[data-v-42e973f3] { display: table-row-group;
}
.table .header[data-v-42e973f3], .table .row[data-v-42e973f3] { display: table-row;
}
.table .header > *[data-v-42e973f3], .table .row > *[data-v-42e973f3] { display: table-cell;
}
.table .header > *[data-v-42e973f3] {
  padding-bottom: .5em;
  vertical-align: middle;
}
.table .header > *[data-v-42e973f3]:not(:last-child) {
  padding-right: 6px;
}
.table .row > *[data-v-42e973f3] {
  padding: .5em 0;
  vertical-align: middle;
}
.table .row > *[data-v-42e973f3]:not(:last-child) {
  padding-right: 6px;
}

/* ====== BLOCK STYLE ====== */
.block[data-v-42e973f3] {}
.block .header-wrap[data-v-42e973f3] {}
.block .row-wrap[data-v-42e973f3] {}
.block .header[data-v-42e973f3], .block .row[data-v-42e973f3] {}
.block .header > *[data-v-42e973f3], .block .row > *[data-v-42e973f3] {}
.block .header[data-v-42e973f3] {
  padding-bottom: .5em;
  vertical-align: middle;
}
.block .row[data-v-42e973f3] {
  padding: .5em 0;
  vertical-align: middle;
}

/* ====== GENERAL STYLE ====== */
.border .header-wrap[data-v-42e973f3] {
  border-bottom: 2px solid #e8e8e8;
}
.border .row[data-v-42e973f3]:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
.row[data-v-42e973f3] {
  font-variant-numeric: tabular-nums;
}

/* ====== BOTTOM ====== */
.bottom[data-v-42e973f3] {
  padding: 1.3em 0;
}
.bottom-inner[data-v-42e973f3] {
  align-items: center;
}
.float-bottom[data-v-42e973f3] {
  padding: 0.5em 1em;
  position: fixed;
  bottom: 0;
  width: calc(100% - 122px);
  max-width: 1168px;
  margin-left: -21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  z-index: 99;
}
.float-bottom .bottom-inner[data-v-42e973f3] {
  justify-content: space-between;
}
.tool-mode[data-v-42e973f3] {
  float: left;
  margin-right: 1em;
}
.page-bar[data-v-42e973f3] {
  float: right;
  display: flex;
  align-items: center;
}
.border .page-bar[data-v-42e973f3] {
  border-top: 2px solid #e8e8e8;
}
.page-bar span[data-v-42e973f3] {
  margin-right: 1em;
}
.toolbar-left[data-v-42e973f3] {
  float: left;
}
@media (max-width: 1167px) {
.bottom-inner[data-v-42e973f3] {
    flex-wrap: wrap;
}
}
@media (max-width: 576px) {
.total[data-v-42e973f3] {
    display: none;
}
.bottom[data-v-42e973f3] {
    width: calc(100% - 64px);
}
}


.progress-frame[data-v-47712372] {
  box-sizing: border-box;
  background: #e8e8e8;
  border: 2px solid #e8e8e8;
  border-radius: 2px;
  height: 1em;
  overflow: hidden;
}
.progress-frame > div[data-v-47712372] {
  /*background: #3498db;*/
  width: 100%;
  height: 100%;
  border-radius: 1px 0 0 1px;
}


.id[data-v-128051e7] {
  min-width: 2em;
  max-width: 3em;
}
.name[data-v-128051e7] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.creator[data-v-128051e7] {
  max-width: 6em;
  min-width: 6em;
}
.progress[data-v-128051e7] {
  min-width: 3em;
  max-width: 4.5em;
}
.problem-count[data-v-128051e7], .collection[data-v-128051e7] {
  min-width: 3em;
  max-width: 3.1em;
  text-align: center;
}


.no-wrap[data-v-d4b68f54] {
  white-space: nowrap;
}
section[data-v-d4b68f54] {
  display: flex;
  min-height: 3em;
  margin-bottom: 0;
  align-items: center;
}
.find-problem[data-v-d4b68f54] {
  margin-right: 1em;
}
.desc[data-v-d4b68f54] {
  margin-right: 3em;
}

  /* result */
.result[data-v-d4b68f54] {
  display: flex;
  justify-content: space-between;
}
.result-count[data-v-d4b68f54] {
  color: rgba(0, 0, 0, 0.45);
}
.result-count > .number[data-v-d4b68f54] {
  color: rgba(0, 0, 0, 0.75);
  padding: 0 0.3em;
}
@media (max-width: 576px) {
section[data-v-d4b68f54] {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5em;
}
.find-problem[data-v-d4b68f54] {
    margin-right: 0px;
    margin-bottom: 0.5em;
}
}

